@model Retailr3.Models.Pricing.PricingDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PricingDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TierId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TierId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateLastUpdated)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
